
p {
    color: False;
    font-family: 'Ubuntu', sans-serif;;
    font-weight: False;
    text-align: False;
    font-size: False;
    background-color: False;
    background: False;
    margin-top: False;
    margin-bottom: False;
    margin-left: False;
    margin-right: False;
    border: False;
    display: False;
    padding: False;
    height: False;
    width: False;
    line-break: False;
    line-height: 28px;
    overflow: False;
    margin: False;
    box-shadow: False;
}
pg_title {
    color: False;
    font-family: 'Signika Negative', sans-serif;
    font-weight: False;
    text-align: False;
    font-size: 25px;
    background-color: False;
    background: False;
    margin-top: 30px;
    margin-bottom: False;
    margin-left: False;
    margin-right: False;
    border: False;
    display: block;
    padding: False;
    height: False;
    width: False;
    line-break: False;
    line-height: False;
    overflow: False;
    margin: False;
    box-shadow: False;
}
pre {
	background-color: whitesmoke;
	margin-left: 0.1%;
}
img {
    margin-top: False;
    margin-bottom: False;
    margin-left: 35%;
    margin-right: False;
    border: False;
    display: False;
    height: False;
    width: False;
    margin: False;
    vertical-align: False;
    opacity: False;
    filter: False;
}
h1 {
    color: #1d37e0;
    font-family: 'Titillium Web', sans-serif;
    text-align: left;
    font-size: False;
    background-color: False;
    padding: False;
    height: False;
    width: False;
    line-break: False;
    line-height: False;
    border: False;
    margin: False;
}
body {
    background: False;
    background-color: white;
    background-image: False;
    opacity: False;
    background-size: cover;
    background-attachment: fixed;
    background-position: False;
    background-repeat: False;
}
